<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BeeOne.Properties.Settings.LOGOConnectionString" connectionString="Data Source=DESKTOP-71EC8I4;Initial Catalog=LOGO;User ID=sa;Password=net_123"
            providerName="System.Data.SqlClient" />
        <add name="BeeOne.Properties.Settings.BEEONEConnectionString"
            connectionString="Data Source=DESKTOP-71EC8I4;Initial Catalog=BEEONE;Persist Security Info=True;User ID=sa;Password=net_123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>